
body{
  background: 
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);;
}

.header-title {
  color:white;
}


.search-bar{
  padding-bottom: 25px;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05);
}



.scroll-field{
  background-color: white;
  margin:10px 100px;
}

 /* Footer Section Styling */

 .footer {
  padding:30px 0 20px 0;
  text-align: center;
}

.links p {
  font-size: small;
  color:white;
  font-weight: 600;
}

.footer-icon {
  margin: 20px 10px;
  color: white;
  font-size: large;
}


@media screen and (min-width: 30em) and (max-width: 60em) {
  .f1-m {
      font-size: 3rem;
  }
}

@media screen and (min-width: 60em) {
  .f-headline-l {
      font-size: 6rem;
  }
}