
body{
background-color: #74b9ff;
background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

img{
  margin-bottom: 2rem;
}

a{
  margin: 0 1.5rem;
}


/* Title  Section Styling */

.header-title {
  color:white;
}


/* Search Section Styling */

.grab{
  cursor: -webkit-grab; cursor: grab;
}

.search-container{
  margin: 0 2rem;
  display: inline-block;
}

.search-bar {
 line-height: normal;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05);
}



/* Scroll Section Styling */

.scroll-field{
  margin:2rem 12rem;
  background-color:#dfe6e9;
  background-image:
  radial-gradient(circle at 100% 150%, #dfe6e9 24%, white 24%, white 28%, #dfe6e9 28%, #dfe6e9 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #dfe6e9 24%, white 24%, white 28%, #dfe6e9 28%, #dfe6e9 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, #dfe6e9 10%, #dfe6e9 23%, white 23%, white 30%, #dfe6e9 30%, #dfe6e9 43%, white 43%, white 50%, #dfe6e9 50%, #dfe6e9 63%, white 63%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, #dfe6e9 5%, #dfe6e9 15%, white 15%, white 20%, #dfe6e9 20%, #dfe6e9 29%, white 29%, white 34%, #dfe6e9 34%, #dfe6e9 44%, white 44%, white 49%, transparent 49%, transparent),
  radial-gradient(circle at 0    50%, white 5%, #dfe6e9 5%, #dfe6e9 15%, white 15%, white 20%, #dfe6e9 20%, #dfe6e9 29%, white 29%, white 34%, #dfe6e9 34%, #dfe6e9 44%, white 44%, white 49%, transparent 49%, transparent);
  background-size: 100px 50px;  
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}


/* Footer Section Styling */

 .footer {
  padding:30px 0 20px 0;
  text-align: center;
}

.links p {
  font-size: 1rem;
  color:#0984e3;
  font-weight: 600;
}

.footer-icon {
  color: #0984e3;
  font-size: 2rem;
  border: 2px dotted #0984e3;
  padding: 1rem;
}



 /* Responsive Styling */


 @media screen and (max-width: 30em) {
    .search-container {
      display: inline-block;
      margin: 0 1rem;
      font-size: 1rem;
    }

    .scroll-field{
      margin:1rem 2rem;
      height: 400px;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .search-container{
      font-size: 1.25rem;
    }
    .scroll-field{
      margin:1rem 6rem;
      height: 500px;
    }
  }

/* @media screen and (min-width: 60em) {

  } */
